﻿@inherits LayoutComponentBase

<main class="w-screen h-screen flex justify-center items-center">
        @Body
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>