﻿@inherits LayoutComponentBase

<div class="">
    <div class="w-screen">
        <NavMenu/>
    </div>

    <main class="w-screen container">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>