﻿<div class="flex flex-row justify-center py-4 mb-2 bg-white dark:bg-slate-900 shadow shadow-gray-600 dark:shadow-white">
    <a class="navbar-brand" href="">Deimos</a>

    <nav class="bg-white dark:bg-gray-900">

    </nav>

</div>
