@page "/l"
@using Deimos.Components.Layout
@using Deimos.Components.Elements.LinkPage

@layout LinkLayout

<PageTitle>Home</PageTitle>


<div class="h-screen w-screen flex justify-center items-center bg-blue-700">
    <div class="bg-gradient-to-b from-violet-500 to-fuchsia-500 p-5 rounded text-white flex flex-col">
        <h1>Solar's Links</h1>
        <LinkButton Text="Home" Href="/" />
        <LinkButton Text="About" Href="/about" />
    </div>
</div>


@code {

    [SupplyParameterFromQuery]
    public string? id { get; set; }
}